@import "values";

.main {
    background: tan;
    h1 {
        color: #ddd;
        background: $brown1;
        &:hover {
            text-decoration: underline;
            @extend %center
        }
    }
    h3 {
        color: $brown1;
    }
}

// Last BONUS question
// h4 is still showing changes that they do not need applied to it
// still needs 
.main:not(h4) {
    @include flex(flex-start)
}

.minor {
    background: silver;
    h1 {
        text-decoration: underline;
        @extend %center;
        margin-bottom: #{$multiply * 4};
    }
    h2 {
        text-decoration: line-through;
        @extend %center
    }
}
