@import "values";

.main {
    background: tan;
    h1 {
        color: #ddd;
        background: $brown1;
    }
    h3 {
        color: $brown1;
    }
}

.minor {
    background: silver;
    h1 {
        text-decoration: underline;
        @extend %center
    }
    h2 {
        text-decoration: line-through;
        @extend %center
    }
}
